<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.vtiger.script.contact.DeleteContactWithActionTest"/>
      <class name="com.vtiger.script.contact.WithoutSelectingDeleteContactTest"/>
      <class name="com.vtiger.script.contact.DeleteAllContactWithFooterTest"/>
      <class name="com.vtiger.script.contact.DeleteContactWithActionAndClickOnCancelTest"/>
      <class name="com.vtiger.script.contact.DeleteAllContactWithHeaderTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
